## Project: Applying NLP to Major Tasks
#### PROG8245- Machine Learning Programming

| Professor     | Islam Mahmoud               |
|---------------|-----------------------------|
| Email         | imahmoud@conestogac.on.ca   |
| Deadline      | Monday, December 9th, 2024  |
| Group         | Group 10                    |
| Members       | Burman, Jaiv Chaitanya      |
|               | Lad, Khushbu Nileshkumar    |
|               | Madhav, Akshata Ajay        |

### Data Collection

#### Collect a dataset of product reviews.

##### Rectangular Dataset

- Kaggle Reference : https://www.kaggle.com/datasets/konradb/inside-airbnb-usa/data
- Utilised reviews for : Hawaii
    1. reviews_detailed.csv
    2. listings.csv

##### Import Libraries

In [12]:
import numpy as np
import pandas as pd 
from scipy import stats
import matplotlib.pyplot as plt

##### Load Dataset classes and methods

In [13]:
class ReviewsDataset:
    def __init__(self):
        self.listing_file_path = './Dataset/FinalProject/listings.csv'
        self.listing_data = None
        self.reviews_file_path = './Dataset/FinalProject/reviews_detailed.csv'
        self.reviews_data = None
        self.merged_data=None

    
    # Loads the data from a CSV file.
    def load_data(self):
        self.listing_data = pd.read_csv(self.listing_file_path)
        print(f"---> Load Listing List \r\n")
        print(f"listings.csv : Data loaded successfully.")
        print(f"Total Records : {self.listing_data.shape[0]} \r\n")

        self.reviews_data = pd.read_csv(self.reviews_file_path)
        print(f"---> Load Reviews List \r\n")
        print(f"listings.csv : Data loaded successfully.")
        print(f"Total Records : {self.reviews_data.shape[0]} \r\n")
    
    def merge_data(self):
        # Merge data using common field recepe Id
        self.merged_data = pd.merge(self.listing_data, self.reviews_data, left_on='id', right_on='listing_id')
        print("Data Merged Successfully")

In [14]:
if __name__ == "__main__":
    # Create an instance of the ReviewsDataset  class and load data
    reviews_data = ReviewsDataset()
    reviews_data.load_data()

---> Load Listing List

listings.csv : Data loaded successfully.
Total Records : 30760

---> Load Reviews List

listings.csv : Data loaded successfully.
Total Records : 1021286

In [15]:
reviews_data.reviews_data.head(5)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,3002,63686,2010-07-11,155310,Debbie,"Lynne is very kind and accommodating, the loca..."
1,3002,71254,2010-07-31,75939,Bonnie,I came back to the island on my own for my 25t...
2,3002,132520,2010-11-02,189930,Alexandra,I had a wonderfull time in Hawaii. Lynne is a ...
3,3002,158315,2010-12-25,291487,Shirley,"Lynn was a wonderful hostess and is a lovely, ..."
4,3002,168133,2011-01-08,331679,Elizabeth,"Just a short walk to Waikiki beach, restaurant..."

In [16]:
reviews_data.listing_data.head(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,3002,"OCEAN VIEW 1BLK2BEACH,LANAI A/C,FULL KITCH,CEN...",3364,Lynne,Honolulu,Primary Urban Center,21.27563,-157.82297,Entire home/apt,85,5,242,2023-01-23,1.57,1,2,2,92- 0251181
1,5269,Upcountry Hospitality in the 'Auwai Suite,7620,Lea & Pat,Hawaii,South Kohala,20.02740,-155.70200,Entire home/apt,185,5,26,2023-02-25,0.18,4,298,10,119-269-5808-01R
2,5387,Hale Koa Studio & 1 Bedroom Units!!,7878,Edward,Hawaii,South Kona,19.43081,-155.88069,Entire home/apt,105,5,206,2023-02-01,1.29,3,239,18,NaN
3,5389,Keauhou Villa,7878,Edward,Hawaii,North Kona,19.56604,-155.96199,Entire home/apt,352,5,48,2023-02-26,0.42,3,267,15,NaN
4,5390,STAY AT PRINCE KUHIO!,7887,Todd,Kauai,Koloa-Poipu,21.88151,-159.47346,Entire home/apt,130,3,178,2023-02-24,1.05,1,137,12,"260050220000, TA-008-490-3424-01"

In [17]:
reviews_data.merge_data()

Data Merged Successfully

In [18]:
reviews_data.merged_data.head(5)

,id_x,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,listing_id,id_y,date,reviewer_id,reviewer_name,comments
0,3002,"OCEAN VIEW 1BLK2BEACH,LANAI A/C,FULL KITCH,CEN...",3364,Lynne,Honolulu,Primary Urban Center,21.27563,-157.82297,Entire home/apt,85,...,1,2,2,92- 0251181,3002,63686,2010-07-11,155310,Debbie,"Lynne is very kind and accommodating, the loca..."
1,3002,"OCEAN VIEW 1BLK2BEACH,LANAI A/C,FULL KITCH,CEN...",3364,Lynne,Honolulu,Primary Urban Center,21.27563,-157.82297,Entire home/apt,85,...,1,2,2,92- 0251181,3002,71254,2010-07-31,75939,Bonnie,I came back to the island on my own for my 25t...
2,3002,"OCEAN VIEW 1BLK2BEACH,LANAI A/C,FULL KITCH,CEN...",3364,Lynne,Honolulu,Primary Urban Center,21.27563,-157.82297,Entire home/apt,85,...,1,2,2,92- 0251181,3002,132520,2010-11-02,189930,Alexandra,I had a wonderfull time in Hawaii. Lynne is a ...
3,3002,"OCEAN VIEW 1BLK2BEACH,LANAI A/C,FULL KITCH,CEN...",3364,Lynne,Honolulu,Primary Urban Center,21.27563,-157.82297,Entire home/apt,85,...,1,2,2,92- 0251181,3002,158315,2010-12-25,291487,Shirley,"Lynn was a wonderful hostess and is a lovely, ..."
4,3002,"OCEAN VIEW 1BLK2BEACH,LANAI A/C,FULL KITCH,CEN...",3364,Lynne,Honolulu,Primary Urban Center,21.27563,-157.82297,Entire home/apt,85,...,1,2,2,92- 0251181,3002,168133,2011-01-08,331679,Elizabeth,"Just a short walk to Waikiki beach, restaurant..."

#### Annotate the dataset with labels of positive, negative or neutral sentiment, based on collected data.

### Preprocessing

#### Perform necessary text preprocessing steps such as tokenization, stop-word removal, stemming/lemmatization, and lowercasing.

#### Remove any irrelevant columns, handle missing values, and clean text data by removing special characters, stopwords, and performing stemming/lemmatization

#### Handle specific challenges of used text like hashtags, emojis, and slang.

### Feature Extraction and Model Comparison

#### Explore different feature representation methods such as bag-of-words, TF-IDF, word embeddings (e.g., Word2Vec or GloVe), or contextual embeddings (e.g., BERT or GPT). Experiment with 3 different feature extraction techniques to capture meaningful representations of social media text where the 3 techniques should be of different word embedding categories.

#### Model Building
- Choose a suitable machine learning algorithm (e.g., Naive Bayes, SVM, or neural networks) or deep learning model
- Split the dataset into training and testing sets.
- Train the selected model using the training data, evaluate and record its performance on the training and testing data.

#### Interpretation of results
- Visualize your results
- Compare different feature representation
- Reach a conclusion on which is the best Embedding technique to use for your model